.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  z-index: 1000;
}

.navigation {
  margin: 10px;
  font-size: 23px;
  color: rgba(255, 255, 255, 0.817);
  text-decoration: none;
  margin-right: 50px;
}

.nav img {
  height: 40px;
  margin-right: 20px;
  margin-top: 4px;
}

* {
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 3%;
  margin: 0px;
}

.film {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 10%;
}

.poster {
  width: 300px;
  border-radius: 10px;
}

.film-info {
  max-width: 600px;
}

.Title {
  font-size: 36px;
  color: white;
  margin-bottom: 10px;
}

.star-display {
  font-size: 2rem;
  color: gold;
  margin: 10px 0;
}

.info-line {
  font-size: 24px;
  margin-bottom: 15px;
}

.movie-details {
  margin-top: 20px;
  font-size: 20px;
  color: #d3d3d3;
  line-height: 1.5;
}

h1, strong {
  color: white;
}

.pied {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .infos {
    flex-direction: column; 
  }
}
