.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    z-index: 1000;
  }
  .navigation {
    margin: 10px;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.817);
    text-decoration: none;
    margin-right: 50px;
  }

  .nav img {
    height: 40px;
    margin-right: 20px;
    margin-top: 4px;
  }

  #search {
    width: 300px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: white; 
    border: 1px solid #555; 
    border-radius: 25px; 
    outline: none; 
    transition: all 0.3s ease; 
    
}

#search::placeholder {
    color: #aaa; 
}

#search:focus {
    border-color: #ff9800; 
    box-shadow: 0 0 8px #ff9800; 
    background-color: #444; 
}

  *{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.section {
    margin-top: 100px; /* Espacement en dessous du nav */
    display: flex;
    justify-content: center; /* Centre horizontalement l'input */
}

.pied {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 100px;
  width: 100%;
  margin-top: 0px;
}